# https://docs.docker.com/engine/reference/builder/#dockerignore-file
/*
!/synthts_et
# node-js
!/package.json
!/yarn.lock
!/.yarnrc
!/node_modules
!/build
!/swagger.yml

# for yarn build
!/src
!/tsconfig.json
